{% extends "bootstrap/base.html" %}

{% block title %}
IÖR-Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        <a href="http://www.ioer-monitor.de" target="_blank"><div class="landing_logo"></div></a>
    </div>
    <div class="container landing_choice">
        <h2>Anmeldung</h2>
        <div class="info">Hier könne Sie sich anmelden und erhalten ihren persönlichen API-Key zur Nutzung unserer OGC-Dienste</div>
        <a href="{{ '%slogin'%(host)}}"><button type="button" class="btn btn-primary">Anmelden</button></a>
    </div>
    <div class="container landing_choice">
        <h2>Sie haben noch keinen API-Key ?</h2>
        <div class="info">Sollten Sie noch keinen Account besitzen, können Sie sich hier einen Account erstellen.</div>
          <a href="{{ '%ssignup'%(host)}}"><button type="button" class="btn btn-primary">Registrieren</button></a>
    </div>
{% endblock %}