{% extends "bootstrap/base.html" %}

{% block title %}
IÖR-Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="logo"></div>
    </div>
    <div class="container choice">
        <h2>Anmeldung</h2>
        <div class="info">Hier könne Sie sich anmelden und erhalten ihren persönlichen API-Key zur Nutzung unserer OGC-Dienste</div>
        <a href="{{ url_for('ogc.login') }}"><button type="button" class="btn btn-primary">Anmelden</button></a>
    </div>
    <div class="container choice">
        <h2>Sie haben noch keinen API-Key ?</h2>
        <div class="info">Sollten Sie noch keinen Account besitzen, können Sie sich hier einen Account erstellen.</div>
          <a href="{{ url_for('ogc.signup') }}"><button type="button" class="btn btn-primary">Registrieren</button></a>
    </div>
{% endblock %}