{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <div class="header">
        <h2>Login</h2>
    </div>
    <div class="container logo">
        <div class="image"></div>
    </div>
    <div class="container login">
     {% if error %}
      <p class="error_message"><strong>Fehler:</strong> {{ error }}
      {% endif %}
      <form class="form-signin" method="POST">
        <!--<h2 class="form-signin-heading">Please sign in</h2>-->
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        <div class="form-inline">
            {{ wtf.form_field(form.remember_me) }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Anmelden</button>
      </form>

    </div> <!-- /container -->
{% endblock %}